@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: auto;   
    font-family: 'Helvetica', sans-serif;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
  color: darkslategrey;
}

a:hover {
  opacity: .8;
}

.skip-links a {
    position: absolute;
    top: -3em;
}

.skip-links a:focus {
    top: 10px;
    left: 15%;
    color: black;
    text-decoration: none;
}

.top-bar {
    height: 2.5rem;
    width: auto;
    position: relative;
}

img {
    width: 100%;
}

.menu {
    text-decoration: none;
    position: absolute;
    left: 10%;
    font-family: 'Helvetica' sans-serif;
    letter-spacing: 8px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
    background-color: white;
}


.hamb {
    width: 1.8rem;
    position: absolute;
    top: 10px;
    left: 25px;
}

.hamb:hover {
    opacity: .5;
}

.hamb:target {
    display: none;
}

.nav-x {
    height: 1.1rem;
    width: 9rem;
    position: absolute;
    top: -38%;
    left: -4rem;
    background-color: white;
}

.lightbox {
    position: absolute;
    width: 8rem;
    top: 4rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-size: 12px;
    left: 25px;
    display: none;
    background-color: white;
    z-index: 2;
}

.lightbox:target {
    display: block;
}

.lightbox li{
    list-style: none; 
    padding-left: 0;
}

.lightbox ul {
    padding: 0;
}

.lightbox a {
    text-decoration: none;
    color: darkslategray;
}

.name {
    position: absolute;
    right: 20px;
    top: 10px;
    font-family: 'Helvetica' sans-serif;
    letter-spacing: 8px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 13px;
}

.intro {
    text-align: center;
    padding-top: 20px;
    max-width: 85vw;
    display: block;
    margin: auto;
}

.sub-title {
    font-family: 'Helvetica' sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 8px;
}

.about-subtitle {
    padding-top: 2rem;
}

.intro-link {
    color: black;
    text-decoration: none;
}

.intro-link:hover {
    color: darkslategrey;
}

.intro-link:visited {
       color: black;
    text-decoration: none;
}

.short {
    width: 4rem;
    display: block;
    margin: auto;
    height: 3px;
    background-color: black;
}

.intro-p {
    padding-top: 1.3rem;
    font-weight: 100;
    font-size: 90%;
    max-width: 85vw;
    display: block;
    margin: auto;
}

.bottom-p {
    padding-bottom: 10rem;
}

.skill-boxes p {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    line-height: 6rem;
    background-color: teal;
    margin: 5px;

    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.skill-boxes p:hover {
    background-color: white;
    color: teal;
    font-weight: 500;
    
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.skills {
    max-width: 85vw;
    display: block;
    margin: auto;
    padding-top: 2rem;
}

.long {
    width: 85vw;
    display: block;
    margin: auto;
    height: 3px;
    background-color: black;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.work {
    display: block;
    position: relative;
    left: calc(50% - 42.5vw);
    max-width: 85vw;
}

.work-boxes {
    padding: 5px;
}


.box-typeface {
    position: relative;
    overflow: hidden;
}

.hide {
    overflow: hidden;
    position: relative;
}

.project-titles {
    display: none;
}

.banner-photo {
    max-height: 100vh;
}


.box-isometric {
    position: relative;
    overflow: hidden;
}

.box-magazine {
    position: relative;
}

.box-maya {
    position: relative;
}

.box-honeybee {
    position: relative;
}

.box-kahlua {
   position: relative; 
}

.box-solo {
   position: relative; 
}

.box-eco {
   position: relative; 
}

.box-herman {
    position: relative;
}

.box-mandala {
    position: relative;
}

.box-everest {
    position: relative;
}

.box-skin {
    position: relative;
}

.pics {
    display: block;
}

.intro-p {
    letter-spacing: 1.5px;
    max-width: 60rem;
}

.icons {
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 3.5rem;
    display: inline-block;
}

.social ul{
    padding-left: calc((100% - 18.7rem) / 2);
    padding-top: 2rem;
}

.social a:hover {
    opacity: .9;
}

.arrow {
    width: 2.5rem;
    padding-left: 25px;
    padding-top: 19px;
}

.back-arrow {
    top: 20px;
    width: 2.2rem;
    padding-left: 25px;
    padding-top: 10px;
}

.description {
    padding-bottom: 4rem;
}


.letters {
    margin: 0;
    padding: 0;
}

.a-type {
    padding: 5px;
    
}

.eco-shot {
    padding: 10px;
}

.eco-grid {
    padding-left: 10px;
    padding-right: 10px;
}


.embed {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.embed-16by9 {
    padding-top: 56.25%;
}

.embed-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.oops {
    text-align: center;
    color: teal;
    font-size: 20px;
    font-weight: 100;
    line-height: 60vh;
}



@media only screen and (min-width: 25em) {
 
    
    
    
}


@media only screen and (min-width: 38em) {
 
   
    
    
}


@media only screen and (min-width: 60em) {
 
    .sub-title {
        font-size: 140%;
    }
    
    .intro-p {
        font-size: 120%;
    }
    
    .half-intro {
        font-size: 14px;
        padding: 5%;
        text-align: left;
    }
    
    .half-subtitle {
        text-align: center;
    }
    
    .half-pic {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    
    .about-pic {
        padding-left: 0;
    }
    
    .eco-grid {
        padding: 0;
    }
    
    .eco-shot {
        padding: 0;
    }
    
    .eco-shot-one {
        padding-right: 4px;
    }
    
    .eco-shot-two {
        padding-left: 4px;
    }
    
}


@media only screen and (min-width: 90em) {
 
   .sub-title { 
       font-size: 180%;
       letter-spacing: 1rem;
       padding-top: 2rem;
   }
    
    .short {
        margin-top: 2rem;
        margin-bottom: 1rem;
        height: 6px;
    }
    .intro-p {
        font-size: 150%;
    }
    
    .chat {
        letter-spacing: 1rem;
    }
    
    
    
    .half-pic {
        padding-left: 5vw;   
    }
    
   
    .project-titles {
        display: block;
        position: absolute;

        background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
        background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
        background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));

        color: rgba(250, 250, 250, .5);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        width: 100%;
        height: 100%;
        bottom: 0;
        margin: 0;
        padding: 0;
        opacity: 1;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        transition: opacity .25s ease;


        -webkit-box-shadow: inset 5px 5px 50px;
        -moz-box-shadow: inset 5px 5px 50px;
        box-shadow: inset 5px 5px 50px;
    }

    .project-titles:hover {
        opacity: 0;
        -webkit-transition: opacity .5s ease;
        -moz-transition: opacity .5s ease;
        transition: opacity .5s ease;
    }


    
    
    
}












