<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Jamie Smith - Graphic Design - Ottawa Canada</title>
    <meta name="description" content="Jamie Smith is an Ottawa based Graphic Designer with expertise in Adobe Photoshop, Indesign, Illustrator, and After Effects.">
    
    <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon.ico" sizes="16x16">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon.ico" sizes="32x32">
    
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
    <body> 
        
        <ul class="skip-links">
            <li><a href="{{site.baseurl}}#work">Skip to work</a></li>
            <li><a href="{{site.baseurl}}#contact">Skip to contact</a></li>
        </ul>
        
    <div class="top-bar" id="top">
        
        <div class="hamb">
            <a href="{{site.baseurl}}#nav">
                <img src="{{site.baseurl}}images/nav.svg" alt="open menu button"> 
            </a>
        </div>
            
        <div class="lightbox" id="nav">
                <a href="#top">
                    <img class="nav-x" src="{{site.baseurl}}images/nav-x.svg" alt="menu">                     </a>  
            
                <ul>
                    <a href="{{site.baseurl}}about.html"><li>More about me</li></a>
                    <a href="{{site.baseurl}}#work"><li>my work</li></a>
                    <a href="{{site.baseurl}}#contact"><li>contact me</li></a>
                </ul>
        </div>
    
        <h1 class="name">Jamie Smith</h1>
        
    </div>

        
        
        
        {{content}}
        
        
        
        
                
        
 <hr class="long">
        
    <div class="intro" id="contact">
        <h2 class="sub-title chat">How about a chat?</h2>
        
        <hr class="short">
        
        <p class="intro-p">hello@jamiesmithdesign.ca
</p>
        
    </div>

    <div class="social">
            <ul>
            <li class="icons">
                <a href="{{site.baseurl}}https://www.pinterest.com/jmesmithdesign/">                        <img src="{{site.baseurl}}images/pinterest.svg" alt="pinterest logo">
                </a>
            </li>
             
            <li class="icons">
                <a href="{{site.baseurl}}https://twitter.com/jmesmithdesign">
                    <img src="{{site.baseurl}}images/twitter.svg" alt="twitter logo">
                </a>
            </li>
             
            <li class="icons">
                <a href="{{site.baseurl}}https://vimeo.com/jmesmithdesign">   
                    <img src="{{site.baseurl}}images/vimeo.svg" alt="vimeo logo">   
                </a>
            </li>
             
            <li class="icons">
                <a href="{{site.baseurl}}https://instagram.com/jmesmithdesign/">
                    <img src="{{site.baseurl}}images/insta.svg" alt="instagram logo">
                </a>
            </li>
             
            <li class="icons">
                <a href="{{site.baseurl}}https://www.facebook.com/onlytumbleweeddesign">    
                    <img src="{{site.baseurl}}images/facebook.svg" alt="facebook logo">
                </a>
            </li>
        </ul>
    </div>

    <div class="top-bar">
        
        <a href="{{site.baseurl}}#top"><img class="arrow" src="{{site.baseurl}}images/up-arrow.svg" alt="top"> </a>
        
        <h1 class="name">Jamie Smith</h1>
        
    </div>

    
    
    </body>
    
</html>