<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
    
    <body> 
        
        <ul class="skip-links">
            <li><a href="#contact">Skip to contact</a></li>
        </ul>
        
    <div class="top-bar" id="top" role="navigation-bar">
        
            <a href="index.html">
            <img class="back-arrow" src="{{site.baseurl}}/images/back-arrow.svg" alt="back arrow"> 
            </a>
        
            <h1 class="name">Jamie Smith</h1>
        
        </div>
        
        
        
        
        
        {{content}}
        
        
        
        
        
<hr class="long">
        
    <div class="intro" id="contact" role="contact">
        <h2 class="sub-title chat">How about a chat?</h2>
        
        <hr class="short">
        
        <p class="intro-p">hello@jamiesmithdesign.ca
</p>
        
    </div>

    <div class="social">
            <ul>
            <li class="icons">
                <a href="https://www.pinterest.com/jmesmithdesign/">                        <img src="{{site.baseurl}}/images/pinterest.svg" alt="pinterest logo">
                </a>
            </li>
             
            <li class="icons">
                <a href="https://twitter.com/jmesmithdesign">
                    <img src="{{site.baseurl}}/images/twitter.svg" alt="twitter logo">
                </a>
            </li>
             
            <li class="icons">
                <a href="https://vimeo.com/jmesmithdesign">   
                    <img src="{{site.baseurl}}/images/vimeo.svg" alt="vimeo logo">   
                </a>
            </li>
             
            <li class="icons">
                <a href="https://instagram.com/jmesmithdesign/">
                    <img src="{{site.baseurl}}/images/insta.svg" alt="instagram logo">
                </a>
            </li>
             
            <li class="icons">
                <a href="https://www.facebook.com/onlytumbleweeddesign">    
                    <img src="{{site.baseurl}}/images/facebook.svg" alt="facebook logo">
                </a>
            </li>
        </ul>
    </div>

    <div class="top-bar">
        
        <a href="#top"><img class="arrow" src="{{site.baseurl}}/images/up-arrow.svg" alt="up arrow"> </a>
        
        <h1 class="name">Jamie Smith</h1>
        
    </div>

    
    
    </body>
    
</html>
